In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s = [1, 3, 5, np.nan, 6, 8]

In [4]:
s

[1, 3, 5, nan, 6, 8]

In [7]:
dates = pd.date_range("20130101", periods=6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [10]:
df

                   A         B         C         D
2013-01-01 -1.101988 -0.248304 -0.418828 -0.366635
2013-01-02 -0.281954 -1.427608 -0.737632 -2.512748
2013-01-03  0.786788  0.712873 -0.876896 -0.756244
2013-01-04 -0.333471  2.277413  1.153711  0.896345
2013-01-05  0.319833  1.357899 -2.251438  0.771702
2013-01-06  0.515734 -0.509679  1.473845  0.636171

In [14]:
df2 = pd.DataFrame({
    "A":1.0,
    "B":pd.Timestamp("20130102"),
    "C":pd.Series(1, index= list(range(4)), dtype="float32"),
    "D":np.array([3] * 4, dtype="int32"),
    "E":pd.Categorical(["test", "train", "test", "train"]),
    "F":"foo"
})

In [18]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [19]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [27]:
df.tail()

                   A         B         C         D
2013-01-02 -0.281954 -1.427608 -0.737632 -2.512748
2013-01-03  0.786788  0.712873 -0.876896 -0.756244
2013-01-04 -0.333471  2.277413  1.153711  0.896345
2013-01-05  0.319833  1.357899 -2.251438  0.771702
2013-01-06  0.515734 -0.509679  1.473845  0.636171

In [28]:
df.head()

                   A         B         C         D
2013-01-01 -1.101988 -0.248304 -0.418828 -0.366635
2013-01-02 -0.281954 -1.427608 -0.737632 -2.512748
2013-01-03  0.786788  0.712873 -0.876896 -0.756244
2013-01-04 -0.333471  2.277413  1.153711  0.896345
2013-01-05  0.319833  1.357899 -2.251438  0.771702

In [30]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [32]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [33]:
df.to_numpy()

array([[-1.10198838, -0.24830422, -0.41882831, -0.36663494],
       [-0.28195431, -1.42760784, -0.73763204, -2.51274754],
       [ 0.78678842,  0.71287254, -0.87689554, -0.75624383],
       [-0.3334714 ,  2.27741325,  1.1537113 ,  0.8963449 ],
       [ 0.31983272,  1.35789932, -2.25143804,  0.77170177],
       [ 0.51573409, -0.5096787 ,  1.47384542,  0.63617059]])

In [35]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [37]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [38]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.015843  0.360432 -0.276206 -0.221902
std    0.691503  1.350460  1.385855  1.306021
min   -1.101988 -1.427608 -2.251438 -2.512748
25%   -0.320592 -0.444335 -0.842080 -0.658842
50%    0.018939  0.232284 -0.578230  0.134768
75%    0.466759  1.196643  0.760576  0.737819
max    0.786788  2.277413  1.473845  0.896345

In [39]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.101988   -0.281954    0.786788   -0.333471    0.319833    0.515734
B   -0.248304   -1.427608    0.712873    2.277413    1.357899   -0.509679
C   -0.418828   -0.737632   -0.876896    1.153711   -2.251438    1.473845
D   -0.366635   -2.512748   -0.756244    0.896345    0.771702    0.636171

In [40]:
df.sort_index(axis = 1, ascending=False)

                   D         C         B         A
2013-01-01 -0.366635 -0.418828 -0.248304 -1.101988
2013-01-02 -2.512748 -0.737632 -1.427608 -0.281954
2013-01-03 -0.756244 -0.876896  0.712873  0.786788
2013-01-04  0.896345  1.153711  2.277413 -0.333471
2013-01-05  0.771702 -2.251438  1.357899  0.319833
2013-01-06  0.636171  1.473845 -0.509679  0.515734

In [41]:
df

                   A         B         C         D
2013-01-01 -1.101988 -0.248304 -0.418828 -0.366635
2013-01-02 -0.281954 -1.427608 -0.737632 -2.512748
2013-01-03  0.786788  0.712873 -0.876896 -0.756244
2013-01-04 -0.333471  2.277413  1.153711  0.896345
2013-01-05  0.319833  1.357899 -2.251438  0.771702
2013-01-06  0.515734 -0.509679  1.473845  0.636171

In [44]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06  0.515734 -0.509679  1.473845  0.636171
2013-01-05  0.319833  1.357899 -2.251438  0.771702
2013-01-04 -0.333471  2.277413  1.153711  0.896345
2013-01-03  0.786788  0.712873 -0.876896 -0.756244
2013-01-02 -0.281954 -1.427608 -0.737632 -2.512748
2013-01-01 -1.101988 -0.248304 -0.418828 -0.366635

In [45]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02 -0.281954 -1.427608 -0.737632 -2.512748
2013-01-06  0.515734 -0.509679  1.473845  0.636171
2013-01-01 -1.101988 -0.248304 -0.418828 -0.366635
2013-01-03  0.786788  0.712873 -0.876896 -0.756244
2013-01-05  0.319833  1.357899 -2.251438  0.771702
2013-01-04 -0.333471  2.277413  1.153711  0.896345

In [50]:
df["A"]

2013-01-01   -1.101988
2013-01-02   -0.281954
2013-01-03    0.786788
2013-01-04   -0.333471
2013-01-05    0.319833
2013-01-06    0.515734
Freq: D, Name: A, dtype: float64

In [57]:
df[0:0]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [56]:
df[0:1]

                   A         B         C         D
2013-01-01 -1.101988 -0.248304 -0.418828 -0.366635

In [54]:
df[0:2]

                   A         B         C         D
2013-01-01 -1.101988 -0.248304 -0.418828 -0.366635
2013-01-02 -0.281954 -1.427608 -0.737632 -2.512748

In [55]:
df[0:3]

                   A         B         C         D
2013-01-01 -1.101988 -0.248304 -0.418828 -0.366635
2013-01-02 -0.281954 -1.427608 -0.737632 -2.512748
2013-01-03  0.786788  0.712873 -0.876896 -0.756244

In [58]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.281954 -1.427608 -0.737632 -2.512748
2013-01-03  0.786788  0.712873 -0.876896 -0.756244
2013-01-04 -0.333471  2.277413  1.153711  0.896345